.button {
  margin: 0 auto;
  font-weight: bold;
  padding: 0.8rem 3rem;
  border-radius: 50px;
  border-color: #868686;
  box-shadow: 5px 5px 0px #969696;
}

.button:disabled {
  background-color: #868686;
  color: #656566;
}

.button:hover {
  color: #505050;
}

.button:active {
  box-shadow: #969696 2px 2px 0 0;
  transform: translate(2px, 2px);
}
