@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Monda:wght@700&display=swap");

@layer base {
  :root {
    --primary-color: #0094ff;
    --action-color: #30d0d0;
    --highlight-color: #fff388;
    --danger-color: #ff6767;
    --title-color: #7aafff;
    --white: #ffffff;
    --gray: #d9d9d9;
    --black: #000000;
  }
}

body {
  color: var(--black);
  background: var(--white);
  text-align: center;
}

.MainText {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}
