@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-color: #0094ff;
    --action-color: #30d0d0;
    --highlight-color: #fff388;
    --danger-color: #ff6767;
    --title-color: #7aafff;
    --white: #ffffff;
    --gray: #d9d9d9;
    --black: #000000;
  }
}

body {
  color: var(--black);
  background: var(--white);
  text-align: center;
}

.button {
  font-weight: bold;
  padding: 0.6rem 2rem;
  border-radius: 20px;
}

.button:disabled {
  background-color: #656566;
  color: #868686;
}
